/*/*.pyc
/*/*.odt
/edit-grammar.y
/rust-grammar.y
/src/__pycache__
/Grammar.pdf
/src/lextab.py
/src/yacctab.py
/grammar-report1-private.odt
/grammar-report1-public.odt
/Grammar.pdf
/src/RustParser.py
/src/Program_4_CFG.pdf
/src/testFile2.rs
/src/testFile