# TODO: eliminate the need for this file after finalising the nodes of the AST

#-----------------------------------------------------------------
# Defines the AST Node classes used in pycparser.
#
# Each entry is a Node sub-class name, listing the attributes
# and child nodes of the class:
#   <name>*     - a child node
#   <name>**    - a sequence of child nodes
#   <name>      - an attribute
#
#-----------------------------------------------------------------

# ArrayDecl is a declaration of an array with the given type and length.
# assignments is a list of Assignments for initializing array elements.
ArrayDecl: [type, length, assignments**]

# Represents LHS for use in an array element assignment.
ArrayElement: [index*, arrId*]

Assignment: [op, lvalue*, rvalue*]
BinaryOp: [op, left*, right*]
UnaryOp: [op, expr*]

# Compound statement is a list of block items (declarations or
# statements).
Compound: [block_items**]

# type: int, char, float, etc. see CLexer for constant token types
Constant: [type, value]

# type: data-type + mutability
# assn: Assignment
Declaration: [type, assn*]

# This is the top of the AST, representing a single Rust file.
FileAST: [ext**]

ID: [name]
If: [cond*, iftrue*, iffalse*]
While: [cond*, stmt*]
